.figure {
    width: 50%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    text-align: center;
    font-weight: bold;
    width: 100%;
}